@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+3:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
    main {
        width: 100%;
        height: 100vh;
    }

    header {
        width: 100%;
        height: 5rem;
        background-color: #81022D;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
    }

    header svg {
        fill: #ffffff
    }

    header img {
        width: 40px;
    }

    section {
        width: 100%;
        background-color: #F2E8DC;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        height: 40px;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #81022D;
        margin: 20px 0px;
        color: #fff;
    }

    .section-content {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .section-content img {
        width: 90%;
        margin: 0 auto;
    }

    .section-content p {
        width: 90%;
        margin-top: 0.8rem;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 1.2rem;
        color: #940032;
        text-align: start;
    }
    .section-content h3{
        width: 90%;
        text-align: start;
        font-size: 1.8rem;
        color: #940032;
        margin-bottom: 1rem;
    }
}